*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}

/* sharable classes  */
.container1{
    max-width: 1240px;
    margin: 0 auto;
}

:root{
    --gradient-yellow:rgba(247, 233, 63, 1);
    --gradient-pink: rgba(251, 9, 180, 1);
    --gradient-violet: rgba(145, 0, 248, 1);
    --white: rgba(255, 255, 255, 1);
    --bg-color-1:rgba(26, 11, 46, 1);
    --bg-color2:rgba(65, 37, 103, 1);
    --light-green:#00FF88;

}
.gradient-text{
    background: linear-gradient(45deg,var(--gradient-yellow), var(--gradient-pink),var(--gradient-violet));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    background: linear-gradient(45deg,var(--gradient-yellow),var(--gradient-yellow), var(--gradient-pink),var(--gradient-pink),var(--gradient-violet),var(--gradient-violet));
    color: white;
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
}
.heading{
    font-size: 48px;
   font-weight: 600;
   line-height: 40px;
   margin: 50px 0 20px 0;
   text-align: center;

}

/* Header started  */

header,.about-podcast{
    background-color: var(--bg-color-1);
    /* height: 100vh; */
  
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
nav .logo h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--white);

}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

nav ul>li{
    list-style: none;
}
nav ul>li a{
   text-decoration: none;
   color: var(--white);
   font-size: 20px;
}
nav .nav-button button{
    font-weight: 600;
    font-size: 18px;
}
nav .hamburger-icon{
    color: white;
    font-size: 20px;
    display: none;

}

/* hero section started  */

.hero-section{
    background: url('./assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    text-align: center;
    /* height: 100vh; */

    padding: 100px 0;
}
.microphone-parent{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.microphone{
    background: linear-gradient(45deg,var(--gradient-yellow),var(--gradient-yellow), var(--gradient-pink),var(--gradient-pink), var(--gradient-violet),var(--gradient-violet));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    aspect-ratio: 1/1;
    border-radius: 50%;
     margin: 50px 0;
    border: 8px solid rgba(42, 24, 108, 1);
         position: relative;
    left: 42px;

}
.new-badge{
   position: relative;
       top: -99px;
    /* left: 576px; */
    right: 26px;
    padding: 10px 22px;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 1000px;
    font-weight: 600;
    font-size: 18px;
    color: black;
}
.hero-section h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
}
.hero-section>p{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.705);
}

.hero-section button{
    font-size: 18px;
    font-weight: 600;
}
.hero-section .btn-hero {
  display: inline-block;
  border: 2px solid rgba(0, 255, 136, 1);
  color: rgba(0, 255, 136, 1);
     padding: 12px 16px;
    border-radius: 1000px;
    margin-left: 10px;
}
.hero-section .btn-hero i {
   font-size: 20px;
  background: rgba(0, 255, 136, 1);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* about podcast section started  */
.about-podcast{

    padding: 20px 0;
    text-align: center;
}
.about-podcast-div>p{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.655);
    font-size: 16px;
    font-weight: 400;
}

.about-podcast-div>hr{
 border: 1px solid rgba(255, 255, 255, 0.144);
margin: 30px 0;
margin-top: 60px;

}
.about-poscast-card-parent{
    display: grid;
   grid-template-columns: repeat(4,1fr);
    gap: 80px;
    margin: 30px 0;
    margin-left: 0;
    margin-right: 0;
}
.about-card{
    padding: 20px;
    
}
.about-card h2{
   color: var(--light-green) ;
   font-size: 48px;
   font-weight: 900;

}
.about-card p{
   color:rgba(255, 255, 255, 0.635);
 text-transform: uppercase;
 margin-top: 15px;

}









/* responsive design for 576px  */
@media screen and (max-width:576px) {
    .container1{
    max-width:100%;
    margin: 0 0;
}

    header,.about-podcast{
        max-width: 100%;
    }
    .heading{
    font-size: 30px;
   font-weight: 600;
   line-height: 30px;
   

}
    nav{
        padding: 20px;
    }
    nav .logo h1{
    font-size: 1.5rem;
    font-weight: 800;
  }


    nav ul,.nav-button{
        display: none;
    }

    nav .hamburger-icon{
    display: flex;
    justify-content: center;
    align-items: center;

  }


  /* hero section started  */

.hero-section{

     background: url('./assets/mobile-hero-section.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 80vh; */
      padding: 45px 0;
 
 
}

.microphone{
    height: 200px;
    width: 200px;
    border-radius: 50%;
     margin: 50px 0;
    border: 5px solid rgba(42, 24, 108, 1);
        position: relative;
    left: 35px;
    top: -20px;
}
.microphone img{
   width: 80px;
  
}
.new-badge{
        top: -50px;
        right: 6px;

    padding: 8px 16px;
    background-color: rgba(0, 255, 136, 1);
    font-size: 16px;
}
.hero-section h1{
    font-size: 45px;
    font-weight: 800;
    line-height: 35px;
}

.hero-section button{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.hero-section .btn-hero {
  display: inline-block;
  border: 2px solid rgba(0, 255, 136, 1);
  color: rgba(0, 255, 136, 1);
     padding: 12px 16px;
    border-radius: 1000px;
    margin-left: 10px;
}
.hero-section .btn-hero i {
   font-size: 20px;
  background: rgba(0, 255, 136, 1);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* about podcast section started  */

.about-podcast-div>p{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    line-height: 20px;
}

.about-podcast-div>hr{
 border: 1px solid rgba(255, 255, 255, 0.144);
margin: 30px 0;
margin-top: 60px;

}
.about-podcast-card-parent{

   grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 20px 0;

}
.about-card{
    padding: 20px;
    
}
.about-card h2{
   color: var(--light-green) ;
   font-size: 30px;
   font-weight: 700;

}
.about-card p{
   color:rgba(255, 255, 255, 0.635);
 text-transform: uppercase;
 margin-top: 15px;

}


    
}

/* responsive design for 577px to 992px */
@media screen and (min-width: 576px) and (max-width: 992px) {

     .container1{
    max-width:100%;
    margin: 0 0;
}

    header,.about-podcast{
        max-width: 100%;
    }
    .heading{
    font-size: 30px;
   font-weight: 600;
   line-height: 30px;
   

}
    nav{
        padding: 20px;
    }
    nav .logo h1{
    font-size: 1.5rem;
    font-weight: 800;
  }

    nav ul,.nav-button{
        display: none;
    }

    nav .hamburger-icon{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  /* hero section started  */

.hero-section{

     background: url('./assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
 
}

.microphone{
    height: 380px;
    width: 380px;
    border-radius: 50%;
     margin: 40px 0;
    border: 5px solid rgba(42, 24, 108, 1);
        position: relative;
    left: 35px;
}
.microphone img{
   width: 150px;
  
}
.new-badge{
                   top: -90px;
        right: 20px;

    padding: 8px 16px;
    background-color: rgba(0, 255, 136, 1);
    font-size: 16px;
}
.hero-section h1{
    font-size: 45px;
    font-weight: 800;
    line-height: 35px;
}

.hero-section button{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.hero-section .btn-hero {
  display: inline-block;
  border: 2px solid rgba(0, 255, 136, 1);
  color: rgba(0, 255, 136, 1);
     padding: 12px 16px;
    border-radius: 1000px;
    margin-left: 10px;
}
.hero-section .btn-hero i {
   font-size: 20px;
  background: rgba(0, 255, 136, 1);
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* about podcast section started  */

.about-podcast-div>p{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    line-height: 20px;
    text-align: center;
}

.about-podcast-div>hr{
 border: 1px solid rgba(255, 255, 255, 0.144);
margin: 30px 0;
margin-top: 60px;

}
.about-podcast-card-parent{

   grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 20px 0;

}
.about-card{
    padding: 20px;
    
}
.about-card h2{
   color: var(--light-green) ;
   font-size: 48px;
   font-weight: 900;

}
.about-card p{
   color:rgba(255, 255, 255, 0.635);
 text-transform: uppercase;
 margin-top: 15px;

}


    
}
    
