*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  
}

/* sharable classes  */
.container1{
    max-width: 1240px;
    margin: 0 auto;
}

:root{
    --gradient-yellow:rgba(247, 233, 63, 1);
    --gradient-pink: rgba(251, 9, 180, 1);
    --gradient-violet: rgba(145, 0, 248, 1);
    --white: rgba(255, 255, 255, 1);
    --bg-color-1:rgba(26, 11, 46, 1);
    --bg-color2:rgba(65, 37, 103, 1);
}
.gradient-text{
    background: linear-gradient(45deg,var(--gradient-yellow), var(--gradient-pink),var(--gradient-violet));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    background: linear-gradient(45deg,var(--gradient-yellow),var(--gradient-yellow), var(--gradient-pink),var(--gradient-pink),var(--gradient-violet),var(--gradient-violet));
    color: white;
    padding: 12px 16px;
    border-radius: 1000px;
    border: none;
}

/* Header started  */

header{
    background-color: var(--bg-color-1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
nav .logo h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--white);

}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

nav ul>li{
    list-style: none;
}
nav ul>li a{
   text-decoration: none;
   color: var(--white);
   font-size: 20px;
}
nav .nav-button button{
    font-weight: 600;
    font-size: 18px;
}
nav .hamburger-icon{
    color: white;
    font-size: 20px;
    display: none;

}


@media screen and (max-width:576px) {

    header{
        max-width: 100%;
    }
    nav{
        padding: 20px;
    }
    nav .logo h1{
    font-size: 1.5rem;
    font-weight: 800;
  }


    nav ul,.nav-button{
        display: none;
    }

    nav .hamburger-icon{
    display: flex;
    justify-content: center;
    align-items: center;

  }
    
}

/* responsive design for 577px to 992px */
@media screen and (min-width: 576px) and (max-width: 992px) {

    header{
        max-width: 100%;
    }
    nav{
        padding: 20px;
    }
    nav .logo h1{
    font-size: 1.5rem;
    font-weight: 800;
  }

    nav ul,.nav-button{
        display: none;
    }

    nav .hamburger-icon{
    display: flex;
    justify-content: center;
    align-items: center;

  }
    
}